<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Identifier</key>
	<string>com.oguzyuksel.viewTemplate</string>
	<key>Description</key>
	<string>Creates SwiftUI View Files inside your &lt;View/Commons&gt; Group</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View Name</string>
			<key>Description</key>
			<string>MVVM View-&gt; View&lt;Name&gt;</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>CustomButton</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
