<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Identifier</key>
	<string>com.oguzyuksel.pubVMTemplate</string>
	<key>Description</key>
	<string>Creates Swift EnvironmentObject Files inside your &lt;PublicViewModels&gt; Group</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>pubVMName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Public ViewModel Name</string>
			<key>Description</key>
			<string>MVVM Environment Objects-&gt;PubVM&lt;Name&gt;</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Authentication</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
